body,
html {
    padding: 0;
}
body{
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: url("../images/Searchs_006.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    padding: 15px;
    margin-top: 0;
}

.user_card {

    height: 350px;
    width: 350px;
    margin-top: 35vh !important;
    margin-bottom: auto;
    background: #f3f3f3;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
@media (orientation: portrait) {
    .user_card{
        margin-top: 50%;
    }
}
.brand_logo_container {
    position: absolute;
    height: 150px;
    width: 250px;
    top: -220px;
    border-radius: 100px;
    padding: 0px;
    text-align: center;
}

.form_container {
    margin-top: 120px;
}

.login_btn {
    width: 100%;
    background: #c01313 !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c01313 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #444bc0 !important;
}

img{
    width: 250px !important;
}

#signUp, #footerRegister, #resetPassword, #footerReset{
    display: none;
}